@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif:ital@1&family=Scope+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Scope+One&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Serif:ital@1&family=Playfair+Display:wght@600&family=Scope+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Work+Sans:wght@300&display=swap');
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  position: absolute;
  /* background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%); */
  background-color:#DADADA;
   

}



 nav{
    display:flex;
    /* flex-wrap:wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom:50px; */
    height:120px;
  
  /* margin-bottom:3%; */
  background-color:#23313b;
  /* padding-top:55px; */
   
   

    
    

}

nav h1{
   
    font-family: 'Playfair Display', sans-serif;
    font-size: 55px;
   /* margin-top:3px ; */
   color:	rgb(255, 255, 255);
   margin-top:100px;
    
}

nav .onglets{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding-bottom:120px;
    color:	#000000;
   
    
}
 nav .onglets a{
     text-decoration: none; 
     padding: 10px;
    /* padding-left:65px; */
    /* width: 400px; */
    color:	rgb(255, 255, 255);
    /* margin-right: 10px; */
    /* border-bottom:1px solid #000 ; */
    /* padding-bottom: 5px; */
    /* font-size: 17px; */
    
   

}
 #signin{
    border-radius:5px;
    
    border:2px solid rgb(255, 255, 255);
}



@media screen and (max-width:680px){
  nav .onglets{
      margin-left: 0px;
      margin-bottom: 20px;
      
  }
}
.pageContent{
  align-items:center;
  flex-direction:column;
  display: flex;
  /* min-height: 100%; */
  justify-content: center;
 

}
.pageContent p{
  color:rgb(255, 255, 255);
  margin-top:10px;
}
#fName,#lName,#email{
  border-radius:8px;
}
#textContent{
  border-radius:8px;

}





